{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Smart Banking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'user_panel/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'user_panel/css/theme.css' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body role="document">
{% include "nav_bar.html" %}

</body>
</html>