li a{
    color: green;
}
body#page1{
    background:url("images/index.jpg") no-repeat fixed center center;
    background-size: 100% 100%;
}
body#page2{
    background:url("images/loginpanel.jpg") no-repeat fixed center center;
    background-size: 100% 100%;
}
div#all
{
	padding: 100px;
	text-align: center;
	overflow: hidden;
	clear: both;
	position: relative;
}
div#prompt{
    text-align: center;
    width: auto;
    height: auto;

    margin: 0 auto;
    border-radius: 15px;


}
div#window{
    text-align: center;
    /*display: none;*/
    background-color: white;

    height: 320px;
    width: 320px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #888888;
}

div#windowreg {
    text-align: center;
    /*display: none;*/
    background-color: white;

    height: 420px;
    width: 380px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #888888;
}

div#title
{
	font-size: 60px;
	color: #d01ca3;
	font-family: 'Arvo', sans-serif;
}
.col-md-8{
    width: auto;
    height: auto;
    text-align: center;
}
.col-md-4{
    font-family: 'Arimo',sans-serif;
}
.buton{
    /*font-family: 'Arimo',sans-serif;*/
}