<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>sBanking Login</title>
    {% load staticfiles %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/color/jquery.color-2.1.2.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bank/style.css' %}"/>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="http://4vector.com/thumb_data/afd-110647.jpg">
    <script type="text/javascript">
        function redirect() {
            document.getElementById("redir_regist").onclick = function () {
                location.href = "/register";
            };
        }

            function cl() {

                $('#logME').delay(300).fadeOut();
                $('#window').append().delay(900).queue(function (next) {
                    add();
                    next();
                    });


            }
            function add(){
                $("#window").append($('<div id="title">Register</div>' +
                        '<form class="form-horizontal">' +
                        '<fieldset>' +
                        '<legend></legend>' +
                        '<div class="form-group">' +
                        '<label class="col-md-4 control-label" for="textinput">User name</label>' +
                        '<div class="col-md-5">' +
                        '<input id="textinput" name="textinput" placeholder="user@mail.com" class="form-control input-md" type="text">' +
                        '</div>' +
                        '</div>' +
                        '<div class="form-group">' +
                        '<label class="col-md-4 control-label" for="passwordinput">Password</label>' +
                        '<div class="col-md-5">' +
                        '<input id="passwordinput" name="passwordinput" placeholder="password" class="form-control input-md" type="password">' +
                        '<input id="passwordinput" name="passwordinput1" placeholder="confirm password" class="form-control input-md" type="password">' +
                        '</div>' +
                        '</div>' +
                        '<legend></legend>' +
                        '<button class="btn btn-default btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>' +
                        '</fieldset>' +
                        '</form>' +
                        ''));
            }


    </script>
</head>
<body id="page2">
<div id="all">
    <div id="prompt">
        <div id="window">
            <div id="logME">
            <div id="title">Login</div>
            <form class="form-horizontal" id="login_form" method="post" action="">
                {% csrf_token %}

                <fieldset>

                    <!-- Form Name -->
                    <legend></legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">User name</label>

                        <div class="col-md-5">
                            <input type="text" name="username" value="" class="form-control input-md"/>
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="passwordinput">Password</label>

                        <div class="col-md-5">
                            <input type="password" name="password" value="" class="form-control input-md"/>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <legend></legend>
                    <input type="submit" value="Login" class="btn btn-default btn-primary"/>
                    <input type="button" id="redir_regist" class="btn btn-default btn-success" onclick="redirect()"
                           value="Register"/>

                </fieldset>
        </form>

            </div>


    </div>
</div>
</div>
</body>
</html>